# Arquivos Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info

# Arquivos Django
*.log
*.pot
*.mo
db.sqlite3
db.sqlite3-journal
.DS_Store

# Arquivos estáticos e de mídia (se aplicável)
media/*
static/*

# Ambientes virtuais
.venv/
env/

# Arquivos de sistema
.idea/
.vscode/
*.swp
*~
Thumbs.db

# Arquivos de distribuição
dist/
build/
*.egg

# Outros
*.bak
*.tmp
*.lock